.muted {
  color: rgb(184, 181, 181);
  // font-size: 0.5rem;
}

.book-details {
  display: flex;
  flex-direction: row;
  // background-color: rgb(20, 195, 14);
}

.images img {
  max-width: 400px;
  border-radius: 4px;
}

mat-card.book-card {
  width: 100%;
  border-radius: 4px;
}

:host ::ng-deep {
  mat-chip {
    .mat-mdc-chip-action{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .mat-mdc-chip-action-label {
      font-size: 0.75rem;
      color: rgb(208, 47, 47) !important;
      font-weight: 400;
    }
  }
}
