.navbar-container {
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.search-bar {
  width: 40%;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.brand-name {
  font-size: 1.5rem;
  text-decoration: none;
  color: #eeeeee;
}

.brand-name:hover {
    color: white;
}

:host ::ng-deep {
  .mat-form-field-appearance-fill {
    .mdc-text-field--filled {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      padding: 0 0.5rem 0 0.5rem;
      font-size: 0.8rem;
    }
    .mat-mdc-form-field-infix {
      padding: 0.2rem 0 0.2rem 0;
      min-height: 2rem;
      display: flex;
      margin: auto;
      justify-content: center;
    }
  }

  mat-icon.icon-size {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
}
