.dashboard-container {
  display: flex;
  flex-direction: row;
}

.left-panel{
  // height: 10vh;
  background-color: #35454d;
}

mat-list-item.list-item {
  background-color: #35454d;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

mat-list-item.list-item:hover {
  background-color: #425660;
}

mat-list-item.active {
  background-color: #425660;
}

mat-list-item a {
  text-decoration: none;
  color: white;
}

.right-panel {
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.book-card {
  max-width: 300px;
  transition: all 0.3s ease-in;
}

.book-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  border: 1px solid #eeeeee;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(240, 233, 233, 0.2);
}

.muted {
  color: rgb(184, 181, 181);
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
