<section class="auth-card-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{
        appStrings?.customer?.signupHeaderText
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <form [formGroup]="signupForm" class="auth-form" (ngSubmit)="signup()">
        <mat-form-field
          [ngClass]="{
            'has-error':
              username?.invalid && (username?.dirty || username?.touched)
          }"
          appearance="outline"
        >
          <!-- username input -->
          <mat-label for="username">username</mat-label>
          <input
            matInput
            id="username"
            [placeholder]="appStrings?.common?.usernamePlaceHolder"
            formControlName="username"
            required
          />
          @if (username?.invalid && (username?.dirty || username?.touched)) {
          <mat-error>Must enter an username</mat-error>
          }
        </mat-form-field>

        <div class="name-container">
          <mat-form-field
            [ngClass]="{
              'has-error':
                first_name?.invalid &&
                (first_name?.dirty || first_name?.touched)
            }"
            appearance="outline"
          >
            <!-- first_name input -->
            <mat-label for="first_name">First Name</mat-label>
            <input
              matInput
              id="first_name"
              [placeholder]="'Enter your first name'"
              formControlName="first_name"
              required
            />
            @if (first_name?.invalid && (first_name?.dirty ||
            first_name?.touched)) {
            <mat-error>Must enter a first name</mat-error>
            }
          </mat-form-field>
          <mat-form-field
            [ngClass]="{
              'has-error':
                last_name?.invalid && (last_name?.dirty || last_name?.touched)
            }"
            appearance="outline"
          >
            <!-- last_name input -->
            <mat-label for="last_name">Last Name</mat-label>
            <input
              matInput
              id="last_name"
              [placeholder]="'Enter your last name'"
              formControlName="last_name"
              required
            />
            @if (last_name?.invalid && (last_name?.dirty || last_name?.touched))
            {
            <mat-error>Must enter a last name</mat-error>
            }
          </mat-form-field>
        </div>

        <mat-form-field
          [ngClass]="{ 'has-error': isPasswordValid() }"
          appearance="outline"
        >
          <mat-label for="password">Password</mat-label>
          <input
            matInput
            id="password"
            [placeholder]="appStrings?.common?.passwordPlaceHolder"
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
            required
          />
          @if (signupForm.get('password')?.errors?.['required'] &&
          (password?.dirty || password?.touched)) {
          <mat-error>Must enter a password</mat-error>
          } @if (signupForm.get('password')?.errors?.['passwordStrength']) {

          <mat-error>
            <p class="mb-1">Must be at least 4 characters long</p>
            <p class="mb-1">
              Must contain uppercase, lowercase, numeric, and special characters
            </p>
          </mat-error>
          }
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button
          [disabled]="username?.invalid || password?.invalid"
          type="submit"
          class="my-2 auth-btn"
          mat-flat-button
        >
          signup
        </button>
      </form>
      <p class="signup-text">
        Already have a buyer account ?
        <a [routerLink]="'/user/login'">sign in</a> here
      </p>
    </mat-card-content>
  </mat-card>
</section>
