<!-- Customer Dashboard template showing list of books -->
<section class="card-container">
  @for (book of books; track book.id) {
  <mat-card class="book-card" (click)="goToBookDetail(book?.id)">
    <img mat-card-image [src]="book.thumbnail" alt="{{ book.title }}" />
    <mat-card-content class="mt-2">
      <mat-card-title>{{ book?.title }}</mat-card-title>
      <p class="text-start muted fs-6">{{ book?.author }}</p>
    </mat-card-content>
    <mat-card-actions class="sub-content">
      <p class="text-md-start px-2 fs-6">{{ book?.rating }} *</p>
      <p class="text-md-start px-2 fs-6">$ {{ book?.price }}</p>
      <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
  }
</section>
